{% extends "libros/base.html" %}
{% block title %}Autores{% endblock %}

{% block content %}
<div class="d-flex justify-content-between mb-4">
    <div>
        <h1>Lista de autores</h1>
        <p>
            Bienvenid@ a la sección de autores. Aquí puedes encontrar una lista de los <b>autores</b> disponibles en nuestra
            biblioteca.
        </p>
    </div>
    <div class="mt-4">
        <a href="{% url 'libros:autores_create' %}" class="btn btn-dark btn-lg border border-1 border-warning">Agregar autor</a>
    </div>
</div>

<form action="{% url 'libros:post_autores' %}" method="get">
    <input type="text" name="busquedaAutor" placeholder="Buscar..." type="submit" class="form-control mb-3 w-75 mx-auto">
</form>

<table class="table table-bordered w-75 mx-auto">
    <thead>
        <tr>
            <th class="align-middle text-center">Nombre</th>
            <th class="align-middle text-center">Fecha de Nacimiento</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for autor in autores %}
        <tr>
            <td class="align-middle text-center">{{ autor.nombre }}</td>
            <td class="align-middle text-center">{{ autor.fecha_nacimiento|date:"d/m/Y" }}</td>
            <td class="align-middle text-center">
                <a class="btn btn-outline-info" href="{% url 'libros:autores_detail' autor.id %}"><i class="fa fa-eye"></i></a>
                <a class="btn btn-outline-warning" href="{% url 'libros:autores_update' autor.id %}"><i class="fa fa-pen"></i></a>
                <a class="btn btn-outline-danger" href="{% url 'libros:autores_delete' autor.id %}"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No hay autores disponibles.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}