<!-- libros -> conversion_lista.html -->
{% extends "libros/base.html" %}
{% block title %}Conversaciones{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="mb-0">Tus conversaciones</h2>
        <a href="{% url 'libros:seleccionar_usuario_conversacion' %}" class="btn btn-dark">
            Iniciar nueva conversación
        </a>
    </div>

    {% if conversaciones %}
        <ul class="list-group">
            {% for conversacion in conversaciones %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'libros:conversacion' conversacion.id %}" style="text-decoration: none; color: black;">
                        Conversación con 
                        {% for participante in conversacion.participantes.all %}
                            {% if participante != request.user %}
                                {{ participante.username }}
                            {% endif %}
                        {% endfor %}
                    </a>
                    <small class="text-muted">Creada el {{ conversacion.creado_en|date:"d M Y, H:i" }}</small>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-warning mt-3" role="alert">
            No tenés conversaciones activas todavía.
        </div>
    {% endif %}
</div>
{% endblock %}

