{% extends "libros/base.html" %}
{% block title %}Libros{% endblock %}

{% block content %}
<div class="d-flex justify-content-between mb-4">
    <div>
        <h1>Lista de libros</h1>
        <p>
            Bienvenid@ a la sección de libros. Aquí puedes encontrar una lista de <b>libros</b> disponibles en nuestra
            biblioteca.
        </p>
    </div>
    {% if user.is_authenticated %}
    <div class="mt-4">
        <a href="{% url 'libros:libros_create' %}" class="btn btn-dark btn-lg border border-1 border-warning">Agregar libros</a>
    </div>
    {% endif %}
</div>
<form action="{% url 'libros:post_libros' %}" method="get">
    <input type="text" name="busqueda" placeholder="Buscar..." type="submit" class="form-control mb-3">
</form>

<table class="table table-bordered">
    <thead>
        <tr class="table-dark text-center">
            <th>Portada</th>
            <th>Nombre del libro</th>
            <th>Autor</th>
            <th>Fecha de publicación</th>
            <th>Reseña</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for libro in libros %}
        <tr>
            <td class="text-center">
                {% if libro.portada %}
                <img src="{{ libro.portada.url }}" alt="{{ libro.titulo }} portada" width="100" height="125">
                {% else %}
                <p>No disponible</p>
                {% endif %}
            </td>
            <td class="align-middle"><strong>{{ libro.titulo }}</strong></td>
            <td class="align-middle">{{ libro.autor_libro.nombre }}</td>
            <td class="align-middle">{{ libro.fecha_publicacion }}</td>
            <td class="align-middle text-center text-warning">
                {% if libro.resenas.all %}
                    {% with promedio=libro.promedio_puntuacion %}
                        {% for i in "12345" %}
                            {% if forloop.counter <= promedio %}
                                <i class="fa fa-star"></i>
                            {% else %}
                                <i class="fa fa-star-o"></i>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                {% else %}
                    <span class="text-muted">Sin puntuación aún</span>
                {% endif %}
            </td>
            <td class="align-middle text-center">
                <a class="btn btn-outline-info" href="{% url 'libros:libros_detail' libro.id %}"><i class="fa fa-eye"></i></a>
                {% if user.is_authenticated %}
                    <a class="btn btn-outline-warning" href="{% url 'libros:libros_update' libro.id %}"><i class="fa fa-pen"></i></a>
                    <a class="btn btn-outline-danger" href="{% url 'libros:libros_delete' libro.id %}"><i class="fa fa-trash"></i></a>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No hay libros disponibles.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}