{% extends "libros/base.html" %}
{% block title %}
    {% if form.instance.pk %}
        Libros → Editar libros
    {% else %}
        Libros → Agregar libros
    {% endif %}
{% endblock %}


{% block content_title %} 
    {% if form.instance.pk %}
        <h1>Editar libro</h1>
    {% else %}
    <h1>Agregar nuevo libro</h1>
    {% endif %}
{% endblock content_title %}

{% block content %}
    {% if form.instance.pk %}
        <p>Completa el formulario para editar un libro a la biblioteca.</p>
    {% else %}
        <p>Completa el formulario para agregar un nuevo libro a la biblioteca.</p>
    {% endif %}
<hr>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Estilizar el formulario -->
    <div class="mb-3">
        <table class="table">
            {{ form.as_table }}
        </table>
    </div>

    <!-- Botones alineados a la derecha -->
    <div class="d-flex justify-content-end mb-3">
        <button type="submit" class="btn btn-dark btn-lg me-2 border border-1 border-warning">Enviar</button>
        <a href="{% url 'libros:post_libros' %}" class="btn btn-danger btn-lg">Cancelar</a>
    </div>
</form>
{% endblock %}